@media only screen and (max-width: 768px){
    .asideEsquerda, .asideDireita{
        display: none;
    }
    .telaCentral{
        max-width: 100%;
    }
    .cabecario{
        display: flex;
    }
    #listaBurguer ul li a{
        color: white;
        font-size: 1.5rem;
    }
    #listaBurguer{
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1370px){
    .asideEsquerda, .asideDireita{
        display: none;
    }
    .telaCentral{
        max-width: 100%;
    }
    .cabecario{
        display: flex;
    }
    #listaBurguer ul li a{
        color: white;
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 1371px){
    .asideEsquerda, .asideDireita{
        display: block;
    }
    .telaCentral{
        max-width: 60%;
    }
    .cabecario{
        display: none;
    }
    #listaBurguer{
        display: none;
    }
}