.title{
    margin: 1rem;
    text-transform: capitalize;
    color: #f1f1f1;
    font-size: 2rem;
    padding: 0.5rem;
}
.artistasRecomendados{
    margin: 2rem;
    padding: 1.5rem;
    background-color: gray;
    border-radius: 25px;
}
.artistasRecomendados h1, .musicasRecomendadas h1{ 
    color: #f1f1f1;
    text-transform: capitalize;
    font-size: 1.5rem;
}
#artistasSeguidos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}
#artistaCard{
    text-decoration: none;
    color: #f1f1f1;
}
#artistaCard img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}
.musicasRecomendadas{
    margin: 2em;
    padding: 1.5rem;
    border-radius: 25px;    
}
#musicas{
    display: flex;
    flex-direction: column;
}
.musicaCardSimples{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.75rem;
    transition: 0.2s;
    border-radius: 10px;
}
.musicaCardSimples:hover{
    background-color: lightslategrey;
}
.musicaCardSimplesImg{
    display: flex;
}
.musicaCardSimplesImg img{
    width: 64px;
    margin-right: 1rem;
}
.musicaCardSimplesImgTxt p{
    font-size: 30px;
    color: #f1f1f1;
    text-transform: capitalize;
}
.musicaCardSimplesImgTxt h6{
    font-size: 15px;
    color: #f1f1f1;
}
.musicaCardSimplesIcon i {
    color: #f1f1f1;
    font-size: 2rem;
    transition: 0.5s;
}
.musicaCardSimplesIcon i:hover{
    color: green;
}