* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1C1C1C;
}
.asideEsquerda {
    position: fixed;
    max-width: 20%;
}
.logo {
    border-radius: 10px;
}
.navegador {
    display: flex;
    flex-direction: column;
}
.navButton {
    margin: 0.75rem;
    padding: 1rem;
    transition: 1s;
    text-decoration: none;
}
.navButton span {
    color: #f1f1f1;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.navButton i {
    color: #f1f1f1;
    font-size: 1.5rem;
}
.navButton:hover {
    background-color: #784fab;
    border-radius: 50px;
    cursor: pointer;
}
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bi-bell-fill,.bi-person-circle {
    color: #f1f1f1;
    font-size: 1.5rem;
}
.buscador {
    position: relative;
}
.buscador input {
    font-size: 1rem;
    border-radius: 10px;
    border: #1C1C1C 1px solid;
    padding: 5px;
}
.bi-search {
    position: absolute;
    color: black;
    right: 0.5rem;
    top: 6px;
}
.cardSongNow,.cardSongNow{
    background-color: #784fab;
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
}  
.asideDireita {
    position: fixed;
    max-width: 20%;
    right: 0;
}
.telaCentral {
    max-width: 58%;
    margin: auto;
}
.cabecario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.burguer{
    color: #f1f1f1;
    font-size: 3.5rem;
}
.pesquisador input{
    width: 60vw;
    padding: 0.3rem;
    font-size: 1.4  rem;
    border-radius: 10px;
    border: 1px solid black;
}
.iconPerfil i{
    font-size: 2.5rem;
}
#listaBurguer{
    display: none;
    flex-direction: column;
    align-items: center;
}
#listaBurguer ul{
    list-style: none;
}
#listaBurguer ul li{
    margin: 2rem;
}
#listaBurguer ul li a{
    color: white;
    font-size: 1.5rem;
}