@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}


#cards,
h1 {
    color: #000000;
}

.config,
h1 {
    color: #784FAB;
    font-size: 30px;
}

#cards {
    position: relative;
    background-color: #323232;
    padding: 50px;
    border-radius: 30px;
    text-align: left;
   
}

.card {
    display: flex;
    background-color: #d9d9d9e5;
    padding: 20px;
    width: 30%;
    margin: 20px;
    justify-content: left;
    border-radius: 20px;


}

.card:hover{
transform: scale(1.025);
transition: 0.2s;
}

body {
    background-color: #1F1F1F;
}

.bi-caret-right-fill {
    color: #784FAB;
    padding: 5px;
    font-size: medium;
}

.bi-soundwave {
    position: absolute;
    transform: scale(4, 2);
    left: 320px;
    top: 55px;
}



