#nome {
    text-align: center;
    color: antiquewhite;
}
.icones ul, li , a{
    font-size: 20px;
    padding: 4px;
    margin: 2px;
    color: aliceblue;
}
.icones ul{
    list-style: none;
}
.icones ul {
    display: flex;
    text-align: center;
}
#foto{
    display: flex;
    justify-content: center;
    padding: 20px;  
    
}
#foto img{
    border-radius: 12px;
    /* box-shadow: 2px 3px 4px gold;  */
    border: rgb(79, 19, 85) 2px solid;
    padding: 1px;
    height: 200px;
}
.musica img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 1rem ;
}
.musica{ 
    padding: 10px;
    display: flex;
    color: #784fab;
}

.musica p{
    padding: 10px;
    font-size: 1.5rem;
}

.musica{
    border-radius: 10px;
}

.musica:hover{
    background-color: gray;
}